/*-- scss:defaults --*/
$bs-green_sean: #0b6542 !default;
$bs-pagination-active-bg: $bs-green_sean !default;
$bs-primary: $bs-green_sean !default;
$bs-btn-hover-bg: $bs-green_sean !default;
$fa-font-path: '../webfonts';

/*-- scss:rules --*/

.navbar {
  background-color: $bs-green_sean;
  color: #fff;
}

.quarto-title-banner{
  background-color: #0ca7a5 ;
  color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: $bs-green_sean;
    border-color: $bs-green_sean;
}



.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $bs-green_sean;
    border-color: $bs-green_sean;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #fff;
    background: $bs-green_sean;
}


.page-link {
      color: $bs-green_sean;
}


.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: $bs-green_sean;
    border-color: $bs-green_sean;
}

a {
  color: #028E46;
  text-decoration: none;
}

b, strong {
    color: $bs-green_sean;
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: $bs-green_sean;
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}


p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
  background-color: #ffffff;
}

code {
  color: #0762A6;
}
